.help {
    display: flex;
}
.help-left {
    width: 40%;
}
.help-right {
    width: 60%;
}
button {
    display:block;
    width: 40%;
    padding: 20px 0px;
    margin-bottom: 30px;
    font-size: 14px;
    background-color: white;
    border-color: tomato;
}